MONGO_URI = mongodb://localhost:27017/sysequi | mongodb+srv://<username>:<password>@<cluster-url>/<db-name>?retryWrites=true&w=majority
PORT = 3000 | 4000 | 5000
NODE_ENV = production | development
HEADER_EXECUTION_TIME = true | false
ATOMIC_BDD = true | false
ENDPOINT_LOGS = true | false

JWT_SECRET = secret | random

REDIS_PORT = 6379
REDIS_HOST = localhost

FRONTEND_URL = localhost:3000 | localhost:4000 | localhost:5000
DOTENV_CONFIG_QUIET = true

ADMIN_DNI = 22222222
ADMIN_PASSWORD = Admin*1508
ADMIN_EMAIL = admin@sysequi.local
ADMIN_NAME = Admin
ADMIN_LASTNAME = Local
ADMIN_CELLPHONE = 1111222233
